<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
<div class="container-fluid">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/haksa/pro">교수관리</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/haksa/stu">학생관리</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/haksa/cou">강좌관리</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">게시글</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/users/login">로그인</a>
        </li>

    </ul>
  </div>
</div>
</nav>