<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  검색
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">교수목록</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <table id="tbl_professors" class="table table-striped table-hover"></table>
      <script id="temp_professors" type="text/x-handlebars-template">
        <tbody>
        {{#each .}}
        <tr>
            <td>{{PCODE}}</td>
            <td><a href="{{PCODE}}">{{PNAME}}</a></td>
            <td>{{DEPT}}</td>
        </tr>
        {{/each}}
        </tbody>
      </script>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
    getList();
    function getList() {
        $.ajax({
            type:"get",
            url:"/haksa/pro/list.json",
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_professors").html());
                $("#tbl_professors").html(temp(data));
            }
        });
    }

    $("#tbl_professors").on("click", "a", function(e){
      e.preventDefault();
      const pcode=$(this).attr("href");
      $(frm.pcode).val(pcode);
      $("#exampleModal").modal("hide");
    })
</script>